////////////////////////////////////////////////////////////
// MOBILE
////////////////////////////////////////////////////////////

.s-home
{
  background: pink;
}

////////////////////////////////////////////////////////////
// TABLET
////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
  .s-home
  {
    background: orange;
  }
}

////////////////////////////////////////////////////////////
// DESKTOP
////////////////////////////////////////////////////////////

@include desktop
{
  .s-home
  {
    background: #b8fff5;
  }
}
