///////////////////////////////////////////////////////////////////
// Device: Mobile
///////////////////////////////////////////////////////////////////

@include mobile-portrait-and-up
{
  .s-home
  {
    height: 100%;
  }
  .s-home-container
  {
    display: flex;
      align-items: stretch;
    height: 100%;
  }
  .s-home-left
  {
    flex-basis: percentage(2/7);
    padding: 20px;
  }
  .s-home-right
  {
    flex-basis: percentage(5/7);
    overflow: auto;
  }
  .s-home-logo
  {
    margin-bottom: 20px;

    color: #444;
    font-family: BilboSwashCaps-Regular, Arial, sans-serif;
    font-size: 5rem;
    line-height: 1;
    text-align: center;
  }
  .s-home-baseline
  {
    margin-bottom: 30px;

    color: #7a4e0c;
    font-size: 1.2rem;
    line-height: 1;
    text-align: center;
  }
}
@include mobile-landscape-and-up
{
}

///////////////////////////////////////////////////////////////////
// Device: Tablet
///////////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
}
@include tablet-landscape-and-up
{
}

///////////////////////////////////////////////////////////////////
// Device: Desktop
///////////////////////////////////////////////////////////////////

@include desktop
{
}
