///////////////////////////////////////////////////////////////////
// Device: Mobile
///////////////////////////////////////////////////////////////////

@include mobile-portrait-and-up
{
  .s-home
  {
    padding: 20px;
  }
  .s-home-container
  {
    display: flex;

    .c-search-form
    {
      flex-basis: percentage(1/4);
    }
    .c-search-results
    {
      flex-basis: percentage(3/4);

      margin-left: 30px;
    }
  }
}
@include mobile-landscape-and-up
{
}

///////////////////////////////////////////////////////////////////
// Device: Tablet
///////////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
}
@include tablet-landscape-and-up
{
}

///////////////////////////////////////////////////////////////////
// Device: Desktop
///////////////////////////////////////////////////////////////////

@include desktop
{
}
