///////////////////////////////////////////////////////////////////
// Device: Mobile
///////////////////////////////////////////////////////////////////

@include mobile-portrait-and-up
{
  .c-search-results.is-loading
  {
    display: flex;
      align-items: center;
      justify-content: center;

    .c-search-results-loader
    {
      display: block;
    }
  }
  .c-search-results-loader
  {
    display: none;
  }
  .c-search-results-loader-title
  {
    margin-bottom: 3rem;

    font-size: 2rem;
    text-align: center;
  }
  .c-search-results-loader-text
  {
    color: $color-brand-1;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }
  .c-search-results-table
  {
    th
    {
      color: #DEDEDE !important;
    }
  }
}
@include mobile-landscape-and-up
{
  .c-search-results
  {
  }
}

///////////////////////////////////////////////////////////////////
// Device: Tablet
///////////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
  .c-search-results
  {
  }
}
@include tablet-landscape-and-up
{
  .c-search-results
  {
  }
}

///////////////////////////////////////////////////////////////////
// Device: Desktop
///////////////////////////////////////////////////////////////////

@include desktop
{
  .c-search-results
  {
  }
}
