///////////////////////////////////////////////////////////////////
// Device: Mobile
///////////////////////////////////////////////////////////////////

@include mobile-portrait-and-up
{
  .c-search-results.is-loading
  {
    display: flex;
      align-items: center;
      justify-content: center;

    .c-search-results-loader
    {
      display: block;
    }
  }
  .c-search-results-loader
  {
    display: none;
  }
  .c-search-results-loader-title
  {
    margin-bottom: 4rem;

    font-size: 2.4rem;
    text-align: center;
  }
  .c-search-results-loader-progress
  {
    display: flex;
      align-items: flex-start;
      justify-content: center;
  }
  .c-search-results-loader-progress-item
  {
    margin-left: 2rem;
    text-align: center;

    &:first-child
    {
      margin-left: 0;
    }
    span
    {
      display: block;
    }
    strong
    {
      display: block;
      margin-bottom: 2rem;

      color: $color-brand-1;
      font-size: 4rem;
      font-weight: bold;
    }
  }
  .c-search-results-table
  {
    th
    {
      color: #DEDEDE !important;
    }
  }
}
@include mobile-landscape-and-up
{
  .c-search-results
  {
  }
}

///////////////////////////////////////////////////////////////////
// Device: Tablet
///////////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
  .c-search-results
  {
  }
}
@include tablet-landscape-and-up
{
  .c-search-results
  {
  }
}

///////////////////////////////////////////////////////////////////
// Device: Desktop
///////////////////////////////////////////////////////////////////

@include desktop
{
  .c-search-results
  {
  }
}
