section.c-search-results
  table.ui.sortable.celled.striped.inverted.table
    thead
      tr
        th(:class='{"sorted": sortKey === "price", "ascending": sortOrder === "asc", "descending": sortOrder === "desc" }', @click='onHeadCellClick("price")') Prix
        th(:class='{"sorted": sortKey === "surfaceArea", "ascending": sortOrder === "asc", "descending": sortOrder === "desc" }', @click='onHeadCellClick("surfaceArea")') Surface
        th(:class='{"sorted": sortKey === "isFurnished", "ascending": sortOrder === "asc", "descending": sortOrder === "desc" }', @click='onHeadCellClick("isFurnished")') Meublé
        th(:class='{"sorted": sortKey === "agencyFees", "ascending": sortOrder === "asc", "descending": sortOrder === "desc" }', @click='onHeadCellClick("agencyFees")') Honoraires
        th(:class='{"sorted": sortKey === "zipCode", "ascending": sortOrder === "asc", "descending": sortOrder === "desc" }', @click='onHeadCellClick("zipCode")') Code Postal
        th(:class='{"sorted": sortKey === "url", "ascending": sortOrder === "asc", "descending": sortOrder === "desc" }', @click='onHeadCellClick("url")') URL de l'offre
    tbody
      tr(v-for='offer in displayedOffers')
        td {{offer.price}}
        td {{offer.surfaceArea}}
        td {{offer.isFurnished ? 'OUI' : 'NON'}}
        td {{offer.agencyFees}}
        td {{offer.zipCode}}
        td: a(:href='offer.url', target='_blank') {{offer.url}}
