section.s-home
  div.s-home-container
    div.s-home-left
      div.s-home-logo Sherlock Homes
      div.s-home-baseline Trouver un chez-soi devient élémentaire.
      search-form-component
    div.s-home-right
      search-results-component
