///////////////////////////////////////////////////////////////////
// Device: Mobile
///////////////////////////////////////////////////////////////////

@include mobile-portrait-and-up
{
  .c-search-form-zipcodes
  {
    position: relative;
    height: auto;

    .taggle_list
    {
      margin: 0;
      padding: 0;
      float: none;

      &::after
      {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
}
@include mobile-landscape-and-up
{
  .c-search-form
  {
  }
}

///////////////////////////////////////////////////////////////////
// Device: Tablet
///////////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
  .c-search-form
  {
  }
}
@include tablet-landscape-and-up
{
  .c-search-form
  {
  }
}

///////////////////////////////////////////////////////////////////
// Device: Desktop
///////////////////////////////////////////////////////////////////

@include desktop
{
  .c-search-form
  {
  }
}
