form.c-search-form(@submit='onSubmit')
  div.form-group.c-search-form-field
    label(for='maxPrice') Prix max &nbsp;
    div.input-group
      input#maxPrice.form-control(type='number', min='0', step='50')
      div.input-group-addon €
  div.form-group.c-search-form-field
    label(for='minSurfaceArea') Surface min &nbsp;
    div.input-group
      input#minSurfaceArea.form-control(type='number', min='0', step='5')
      div.input-group-addon m<sup>2</sup>
  div.form-group.c-search-form-field
    label(for='offerType') Type d'offre &nbsp;
    select#offerType.form-control
      option(value='rent', selected) Location
      option(value='purchase') Achat
  div.form-group.c-search-form-field
    label Codes postaux &nbsp;
    div#zipCodesTags.form-control.c-search-form-zipcodes
  button.btn.btn-primary(type='submit') Rechercher
