form.c-search-form.ui.form(:class='{"loading": isLoading}', @submit='onSubmit')
  div.field
    div.ui.right.labeled.input
      input(type='number', v-model='maxPrice', min='0', step='50', placeholder='Prix max')
      div.ui.label €
  div.field
    div.ui.right.labeled.input
      input(type='number', v-model='minSurfaceArea', min='0', step='5', placeholder='Surface min')
      div.ui.label m#[sup 2]
  div.field
    select.ui.dropdown(v-model='offerType')
      option(value='', disabled) Type d'offre
      option(value='rent') Location
      option(value='', disabled) Achat (prochainement)
  div.field
    input(type='text', placeholder='Saisissez un code postal et appuyez sur "Entrer"', maxlength='5', pattern='[0-9]{5}', @keydown.enter='onZipCodeEnter')
  div.field
    div.c-search-form-zipcodes
      button.ui.label(type='button', v-for='(zipCode, index) in zipCodes', :data-index='index', @click='deleteZipCodeAt(index)')
        span {{zipCode}}
        i.delete.icon
  div.field
    button.ui.button(type='submit') Rechercher
